@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0c0b0d;
  color: #f6f3ef;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #d81324;
  color: #f6f3ef;
}
